
.container-cart-item {
    width:100%;
   
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    background:white;
   
    
  }

  
  .cartItem-image {
    width:150px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .cartItem-details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
  }
  
  .details-title {
    font-size: 1rem;
    font-weight: bold;
    word-wrap: break-word;
  }
  
  .details-desc {
    font-size: 0.8rem;
    word-break: break-all;
  }
  
  .details-price {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .cartItem-actions {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0.6rem;
    position: relative;
    
  }
  
  .cartItem-qty {
    display: flex;
    align-items: center;
    

  }
  
  .cartItem-qty input {
    padding: 10px;
    margin-left: 0.4rem;
    width: 60px;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    outline: none;
  }
  
  .cartItem-deleteItemBtn {
    width:25px;
    height:25px;
    border:none;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    outline: none;
    position: absolute;
    top:0;
    right: 0;
    font-size:17px;
    background-color: white;
    transform: rotate(45deg);
    
  }
  
  .cartItem-deleteItemBtn:hover {
    border-radius: 50%;
    transition: all ease-in 0.3s;
    background-color: rgb(209, 15, 15);
  }
  
  